# Copia este archivo como .env y completa los valores
MONGODB_URI=mongodb+srv://USUARIO:PASSWORD@cluster0.xxxxx.mongodb.net/techstore?retryWrites=true&w=majority
JWT_SECRET=cambia_esto_por_algo_muy_secreto_y_largo_123456
PORT=5000
NODE_ENV=development
FRONTEND_URL=http://localhost:3000
